
.item{
    vertical-align: top;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    width: 160px;
    height: 140px;
    white-space: normal;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    background-color: rgb(240, 236, 236);

}
.countryThumbImg{
    height: 100px;
    width: 160px;
}
.caption{
    display: flex;
    font-size: x-small;
    width: 170px;
}