.sidedrawer{
    margin-top: 50px;
    height: 100%;
    width: 200px;
    max-width: 40%;   /* pienillä ruuduilla max 40% ruudusta muuten 200px*/
    background: white;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translateX(-110%);
    transition: 0.3s ease-out;
    z-index: 200;           /* backdrop 100 nii tämä sen päälle */
}
.sidedrawer.open{
    transform: translateX(0);
}
.sidedrawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.sidedrawer li {
     margin: 0.5rem 0; 
     transform: translateX(-20px);

}

.sidedrawer a {
    color: black;
    text-decoration: none;
}
.sidedrawer a:hover,
.sidedrawer a:active {
    color: coral;
}